<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thenewcircle.instructoryamba" >

    <application
        android:name=".YambaApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StatusActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/yamba_settings" />

        <service
            android:name=".PostMessageService"
            android:exported="false" >
        </service>
        <service
            android:name=".YambaTimeline"
            android:exported="false" >
        </service>

        <provider
            android:name=".TimelineProvider"
            android:authorities="com.thenewcircle.yamba.provider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <receiver android:name=".OnBoot" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TimelineActivity"
            android:label="@string/title_activity_timeline" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
